
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Festifact</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create-organisator">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Create organizer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create-locatie">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Create locatie
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="locaties">
                <span class="oi oi-list-rich" aria-hidden="true"></span> locaties
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create-festival">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Create festival
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="GoToMauiPage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Maui Page
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void GoToMauiPage()
    {
        App.Current.MainPage.Navigation.PushAsync(new PagesMaui.MauiPage1());
    }
}
