@page "/create-organisator"
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@inject OrganisatorService organisatorService
@using System.Net.Http.Json
@using Festifact.Models
@using Festifact.Services

<h3>Create Organisator</h3>

<form @onsubmit="CreateOrganisatorAsync">
    <div class="form-group">
        <label for="name">Name:</label>
        <input id="name" class="form-control" type="text" @bind="organisator.Name" required />
    </div>

    <button type="submit">Create</button>
</form>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="error-message">@errorMessage</div>
}

@code {
    private Organisator organisator = new Organisator();
    private string errorMessage;

    private async Task CreateOrganisatorAsync()
    {
        //HttpResponseMessage response = await httpClient.PostAsJsonAsync("/api/Organisators", organisator);
        HttpResponseMessage response = await organisatorService.CreateOrganisatorAsync(organisator);
        if (response.IsSuccessStatusCode)
        {
            // Handle successful creation
            navigationManager.NavigateTo("/");
        }
        else
        {
            // Handle error
            errorMessage = "Failed to create Organisator. Please try again.";
        }
    }
}
