@page "/"
@inject HttpClient httpClient
@using Festifact.Models

<h1 class="display-4 text-center">Welcome to Festifact!</h1>
<p class="lead text-center">Explore and manage festivals with ease.</p>

@code {

    protected override async Task OnInitializedAsync()
    {
    }

}